<div class="row">
  <% @posts.each do |post| %>
    <div class="grid-item mt-3 col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xlg-4">
      <div id="index-cards" class="card">
        <div class="card-body">
        <%= link_to post do %>
          <h5 class="card-title"><%= post.title %></h5>
          <% end %>
          <div class="card-text"><%= post.body %> </div>
          
        </div>
      </div>
    <br>
    </div>
  <% end %>
</div>